html {
    font-size: 10px;
}

body {
    background-color: $color-primary;
    font-size: 1.4rem;
}

.otro {
    font-size: 1.2rem;
    background-color: rgba(232, 23, 203, .5);
    box-shadow: 1px 1px 1px rgba(232, 23, 203, .5);
    opacity: .5;
}